<!-- header -->
<app-header></app-header>
<!-- project title -->
<div class="frame">
    <div>
        <a id="mob" href="#work"><span class="back"><i class="fa fa-arrow-circle-left"></i> Back</span></a>
        <p class="title">Agile Resource Tool</p>
        <div class="img-flex">
            <img class="image" src="{{config}}/assets/images/project/cisco.jpeg" width=50% height=50%>
            <div class="passage confidential">Agile Resource Tool viewed in large layouts. <br> Agile Resource Tool -
                April to December 2018 <br> <span class="head">The nature of this
                    work is confidential</span></div>
        </div>
        <!-- project details -->
        <div class="passage">
            <p>
                <span class="head">The challenge</span>: Our client Cisco approached to develop an interactive and
                smooth front end experience
                for the manager and the top hierarchy people.
                The project required a website with the enhanced features remaining fast to use by everyone which is
                not present in the existing process.
                <br>
                <br>
                <span class="head">The solution</span>: To reduce the overall estimated time and cost, I have used
                HTML5, CSS3 and Bootstrap. These gave responsive layout which has been customized based on the design
                with good visual effects. Charts have been designed to show the date details in more simple way and
                quick to understand.
                <br>
                Cisco provided me with the spreadsheet for each layout and relied on my experience to create a new,
                friendlier desktop website including all features adding some enhanced functionality.
                <br>
                <br>
                <span class="head">The result</span>: The agile resource tool helps to create a new Project and Manage
                Team Members allocation, Team work capacity and Get suggestions for it. Manage project has features
                like Edit, Clone, Delete your project, Export Project suggestions, View Version History.
                <br>
                Functionalities has been provided with some formulas to calculate the team planning. History is shown
                by comparing two different versions using a pie chart to
                provide more realistic and comfortable understanding of the data.
            </p>
        </div>
    </div>
</div>
<!-- footer -->
<app-footer></app-footer>