/* footer starts here */
.footertxt {
    position: relative;
    color: whitesmoke;
    font-weight: bold;
    text-align: center;
    line-height: 150%;
    font-size: 100%;
}
#foot{
    background-color: #0c232d;
}
.fa, .fa-heart{
    font-size: 75%;
    color:#aec8e6 !important;
}
