<app-header></app-header>
<div class="frame">
    <div>
        <a id="mob" href="#work"><span class="back"><i class="fa fa-arrow-circle-left"></i> Back</span></a>
        <p class="title">
            Operational Dashboard</p>
        <div class="img-flex">
            <img class="image" src="{{config}}/assets/images/project/lticisco.jpg" width=50% height=50%>
            <div class="passage confidential">Operational Dashboard viewed in large layouts. <br> Operational Dashboard
                -
                January to June 2019 <br> <span class="head">The
                    nature of this work is confidential</span></div>
        </div>

        <div class="passage">
            <p>
                <span class="head">The challenge</span>: In the organization, management maintains a lot of excel
                sheets to manage their onboarding details between their organization and their client. Operational
                dashboard supports to maintain all the management & project details in a single platform so that there
                won’t be any mishandling or loss of data, less time consuming, easy to track the information, avoid
                conflict and maintain good order.
                <br>
                <br>
                <span class="head">The solution</span>: A single platform developed using Angular5, Angular material,
                HTML5, CSS3 and Bootstrap to get a good visual and responsiveness by customizing the design. The
                backend has been handled with Restful web service API and Hibernate. Each functionality completion is
                conveyed to the user for a better understanding. The project's revenue is displayed in a bar chart for
                a better look and feel.
                <br>
                An Excel sheet has been provided to get all the information about the onboarding. These details have
                been read and put into the platform.
                <br>
                <br>
                <span class="head">The result</span>: Operational dashboard provides us features like onboard, track,
                Allocate, off-board, de-allocate, etc., of the resources. These features can be performed only if the
                Status of a resource is approved. So, the Notification icon is helpful to show if any action is pending
                Make our work easier and more efficient. It also provides options like edit, view, search, and export.
            </p>
        </div>
    </div>
</div>
<app-footer></app-footer>