<!-- about me details -->
<div class="frame" id="about">
  <div>
    <p class="title">Hi! 👋</p>
    <div class="passage">
      <p>
        I'm Naveena, a Front End developer with a Bachelors degree in Computer Science & Engineering. Currently, I'm
        working as a Software Developer in LTI, India. As a UI developer, I would provide a UI solution to the
        end-user, considering the final look, feel and behavior of the module in all aspects. My primary goal is to get
        overall good user experience. Implementing visual elements that users see and interact with a web application
        has been my passion over the years. I believe that a successful product is a mixture of good design,
        experience, and technology.
        <br>
        <br>
        Apart from my work, when I’m not behind my Laptop you can see me sitting in a cafe sipping a hot cup of
        Cappuccino or watching horror movies or surfing on the internet. Since I love traveling, I take trips at least
        twice a year to detach from daily routine and recharge myself. Currently, I’m based in Bangalore, Karnataka,
        But originally from the cultural capital Tamilnadu, India.
      </p>
      <!-- my picture -->
      <!-- <div style="border:1px solid black;height:344px;width:30%; margin-top: 2%; flex:2;"><img src="{{config}}/assets/images/slides/about.jpg"> </div> -->
    </div>
  </div>
  <div>
    <!-- Education details -->
    <p class="title subtitle">Education</p>
    <p class="clg">Bachelor of Engineering, Anna University
      <br>
    </p>
    <p class="year"> August 2012 - April 2016</p>
    <!-- experience details -->
    <p class="title subtitle">Experience</p>
    <p class="passage">I have been a part of team building products for the web platforms, my primary focus has always
      been on providing better visual experiences for the end-user with effective User Experience.
    </p>
    <p class="clg">Software Engineer, LTI India.
      <br>
    </p>
    <p class="year">December 2016 - December 2019</p>
  </div>
</div>