<!-- contact details -->
<div class="frame" id="contact">
  <p class="title">Contact Details</p>
  <br>
  <p class="work_foot wrap"> Feel free to get in touch. </p>
  <div>
    <!-- mail -->
    <!-- <a class="mail" href="#" href="mailto:naveenamanokaran@gmail.com">
      naveenamanokaran@gmail.com</a> -->
    <nav class="social-links social">
      <a href="#" href="mailto:naveenamanokaran@gmail.com">
        <img src="{{config}}/assets/images/Icons/email_icon.png" height="30" width="30">
      </a>
      <span class="space"> | </span>
      <a href="https://www.linkedin.com/in/naveena-manokaran-26b592102/" target="_blank">
        <img src="{{config}}/assets/images/Icons/linkedIn.png" height="30" width="30">
      </a>
    </nav>
  </div>
</div>