<!-- work summary -->
<div class="frame" id="work">
  <p class="title">Recent Works:</p>
  <!-- accordian starts -->
  <div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
        <div class="panel-heading">
          <h4 class="panel-title">
            Operational Dashboard
          </h4>
        </div>
      </a>
      <div id="collapse1" class="panel-collapse collapse in">
        <div class="panel-body">Operational Dashboard is one among the types of dashboard used by management to monitor
          and manage the operations that have a short period to maintain accurate and fast data between the department
          and operational team. It is a reporting tool for monitoring business requirements that most often change and
          to keep track. The primary goal is to provide real-time information and the management need not wait for the
          analysis report in a spreadsheet.
          <a routerLink="/operational">(read more..)</a>
        </div>
      </div>
      <div class="panel panel-default">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
          <div class="panel-heading">
            <h4 class="panel-title">
              Agile Resource Tool
            </h4>
          </div>
        </a>
        <div id="collapse2" class="panel-collapse collapse">
          <div class="panel-body">Agile Resource Tool involves splitting projects into incremental phases so that
            project teams can deliver completed pieces of a project on a routine. To be more specific, It is a tool to
            gather requirements, plan, design, develop, release, and track & monitor the project. The goal of the agile
            tool is to decrease waste and provide more opportunities for client feedback and team improvement.
            <a routerLink="/agile">(read more..)</a></div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
        <div class="panel-heading">
          <h4 class="panel-title">
            New year relevance tool
          </h4>
        </div>
      </a>
      <div id="collapse3" class="panel-collapse collapse">

        <div class="panel-body">The new year relevance tool is a tool for managing the application throughout the
          fiscal year along with their execution order of parent task and their dependent child task based on the
          Priority (schedule). i.e., Maintaining and executing all the applications and its relevant tasks categorized
          under each fiscal Year. The main goal of this tool is to avoid deadlock situations and inaccuracy of the
          data.
          <a routerLink="/nyr">(read more..)</a>
        </div>
      </div>
    </div>
  </div>
</div>