<!-- header -->
<app-header></app-header>
<!-- project title -->
<div class="frame">
    <div>
        <p class="title">New Year Relevance Tool</p>
        <div class="img-flex">
            <img class="image" src="{{config}}/assets/images/project/cisco.jpeg" width=50% height=50%>
            <div class="passage confidential">New Year Relevance Tool viewed in large layouts. <br> New Year Relevance
                Tool -
                August 2017 to March 2018 <br> <span class="head">The nature of this
                    work is confidential</span></div>
        </div>
        <!-- project details -->
        <div class="passage">
            <p>
                <span class="head">The challenge</span>: Cisco Systems, Inc. have a lot of different applications in
                which a task may wait for another task to get completed, so, that output will be taken as input by it.
                Without holding if it executes it provides wrong outcome. The proposed concept of handling this feature
                is a New Year relevance tool where the child task should wait until the parent task is completed, in
                order to avoid inaccurate data input for execution.
                <br>
                <br>
                <span class="head">The solution</span>: Front end developed using HTML5, CSS3, Bootstrap and jQuery to
                get a responsive layout with the customized design for the website. Since they have an enormous amount
                of Task for each application, tables has been used for differentiating it easily. Popup have been
                Displayed for showing the details about the current task’s parent. This helps us to manage time
                Efficiently.
                <br>
                New desktop website containing all application details to avoid messy execution of the task when it is
                Having a dependency with more features.
                <br>
                <br>
                <span class="head">The result</span>: The new Year relevance tool contains the list of applications
                along With their task details, task dependent and task parameter in order to execute it, and also
                execution Status. Features include create, edit, view, search, export, and copy from etc.
                <br>
                Create and edit option available for application, a task where a view is applicable to see parent task,
                Completed task, scheduled task, status report, and also execution history. The popup is provided to
                show The linked parent task for current task.
            </p>
        </div>
    </div>
</div>
<!-- footer -->
<app-footer></app-footer>